
/*----------------------------------------------*/

.menu{
    padding: 20px 0;
    border-bottom: 1px solid #707070;
}

.menu:last-child{
    border-bottom:none;
}

.menu form{
    display: grid;
    grid-template:
    "img title title " 24px
    "img price option" 24px
    "img button button" 32px / 80px 60px 1fr;
}

.menu form>h1{
    margin-left: 10px;
    grid-area:title;
    font-size: 15px;
}
.menu>input{
    grid-area: button;
}

.menu-price{
    margin-left: 10px;
    grid-area:price;
}

.menu-option-list{
    grid-area: option;
    justify-self:flex-end;
}

.menu-button-list{
    grid-area: button;
    justify-self:flex-end;
}

.menu-option-input{
    width:12p;
    height:12px;
    border: 1px solid #a24f17;
}

.menu-option-input-on{
    background-color:#a24f17;
}

.menu-option {
    display: inline-flex;
    align-items: center;
    grid-area: option;
}

.menu-option .menu-option-input{
    margin-right: 5px;
}

.menu-img-box{
    grid-area: img;
    
}

.menu-img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    object-fit: cover;
    
}


@media (min-width: 768px){ 

    .menu-list{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap:20px 20px;
    }

    .menu{
        flex-shrink: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #707070;
       
        /* flex-grow: ; */
    }
    
    .menu:last-child{
        border-bottom:none;
    }



    .menu form{
        display:grid;
        grid-template: 
            "img img" 130px 
            "title price" 30px 
            "option option" 30px 
            "button button" 40px/ 1fr 70px;
    }

    .menu form>h1{
        display:flex;
        align-self:center;
        justify-self: flex-start;

    }
    .menu-price{
        display:flex;
        align-self:center;
        justify-self: flex-end;
        margin-right: 10px;
    }
    
    .menu-img{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }

    .menu-button-list{
        justify-self: center;
        display:flex;
        align-items: center;
    }

    .menu-option-list{
        justify-self:center;
        display: flex;
        align-items: center;
    }


   
}