/*이 파일은 html 태그가 가지고 있는 기본 스타일을 제거하기 위한 스타일 파일

기존 태그에도 스타일이 있음
기존태그의 스타일을 그대로 사용하기엔 적합하지않음
그것을 지우는? 덮어쓰는? 파일을 만드는데
그것이 reset.css 파일
*/

body,h1,h2,ul,li{
    margin:0;
    padding:0;
}

ul,li{
    list-style:none;  /*list 앞에 ● 사라지게 */
}

a{}